#map-hp .progress {
  border-radius: 0px;
  background-color: inherit;
}
#map-hp .hp-progress .progress {
  height: 22px;
}
#map-hp .hp-progress .progress .progress-bar {
  font-size: 13px;
  line-height: 22px;
}
#map-hp .hp-progress .progress {
  position: relative;
  margin-bottom: 1px;
}
#map-hp .hp-progress .progress-bar span span {
  position: absolute;
  width: 100%;
  display: block;
}
#map-hp .table {
  margin-bottom: 8px;
}
#map-hp .alert {
  background-color: #375a7f;
  border-color: #375a7f;
  color: #ffffff;
}
#map-hp .progress-bar > span {
  position: absolute;
  width: 100%;
  display: block;
}
