:root {
  --maphp-blue: #2196F3;
}

#map-hp {
  margin: 0 2em;
}


#map-hp .header {
  display: flex;
  align-items: center;
}
#map-hp .timestamp {
  flex: 1;
  color: gray;
  text-align: right;
}
#map-hp .area-label {
  background-color: var(--maphp-blue);
  color: white;
}
#map-hp .hp {
  display: flex;
  margin: 1ex 0 2ex 0;
  align-items: center;
}
#map-hp .hp-value {
  width: 8em;
}
#map-hp .hp-bar {
  position: relative;
  width: 100%;
  height: 16px;
}
#map-hp .hp-bar-background {
  background-color: rgba(255, 255, 255, 0.1);
}
#map-hp .hp-bar-current,
#map-hp .hp-bar-background {
  width: 100%;
  height: 100%;
  transform: skewX(-15deg);
  position: static;
  position: absolute;
}
